{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'shared/_navbar.html' %}

<br><br><br><br><br>

{% if user.is_authenticated %}

    <div class="container">
        <h1>상품 리뷰 페이지</h1>
        <a href="{% url 'reviews:new' %}" class="btn btn-primary">리뷰 등록하기</a>
        <div class="row">

        {% for review in reviews %}

            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem; margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">{{ review.content }}</p>
                        <p>{{ review.created_at }}</p>
                        <a href="{% url 'reviews:show' review.pk %}" class="btn btn-primary">상세보기</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>

    {% else %}
    <h3> 로그인 이후 이용 가능합니다.</h3>
    <a href="{% url 'account_login' %}" class="btn btn-warning"> 로그인</a>
    <a href="{% url 'account_signup' %}" class="btn btn-warning"> 회원가입</a>

    {% endif %}


{% endblock %}