<div class="footer">
  <ul class="costom">
    <li class="first adress">
      <div class="box">
        <h6>COMPANY. (주) KMALL</h3>
        <p>
          owner. 이소정 / LEE SO JUNG
        </p>
        <p>
          tel.010-1234-5678
        </p>
        <p>
          <address>address. 경기도 안양시 평촌동 </address>
        </p>
      </div>
    </li>

    <li>
      <div class="box">
        <h6>C/S CENTER</h3>
          <p>010-1111-2222</p>
          <p>OPEN : am10:00 ~ pm17.00</p>
          <p>BREAK : pm12:00 ~ pm13:00</p>
          <p>(sat/sun/holiday OFF)</p>
  
      </div>
    </li>

    <li>
      <div class="box">
        <h6>BANK ACCOUNT</h3>
        <p>SJ은행 111-222233-33</p>
        <p>예금주 : 이소정</p>
      </div>
    </li>
  </ul>
</div>

<!-- <footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer> -->