 <nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'main' %}">SOJUNG MALL ꗯ</a>
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">BEST 30</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SOJUNG MADE</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          TOP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'posts:main' %}">니트/가디건</a>
          <a class="dropdown-item" href="{% url 'posts:main2' %}">맨투맨/후드/티셔츠</a>
          <a class="dropdown-item" href="{% url 'posts:main3' %}">셔츠/블라우스</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BOTTOM
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'posts:main4' %}">데님</a>
          <a class="dropdown-item" href="{% url 'posts:main5' %}">면바지/슬랙스</a>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">JOIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ORDER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CART</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>

    

  </div>

  

  

</nav>



